nav{
    margin: 0 auto;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 2vw 3vw;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px black solid;
}

.nav-right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: right;
}