nav #navbar{
    margin: 0 auto;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 1.7vw 3vw;
    z-index: 3;
    background-color: white;
    border-bottom: 2px black solid;
}

.nav-left a{
    font-family: "Carter One", sans-serif;
    font-style: italic;
    font-weight: 400;
}

.nav-right{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: right;
}

nav #navbar a {
    color: rgb(56, 57, 55);
    padding: 1vw;
}
nav #navbar a:visited{
    color: rgb(56, 57, 55);
}
nav #navbar a:hover{
    background-color: transparent;
    color: rgb(56, 57, 55);
    text-decoration: underline;
    font-family: "Carter One", sans-serif;
}