/* dumping ground for old css nav */

nav {
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.navbar_padding{
    height:5px;
    background-color: rgb(250, 248, 244);
}

#navbar{
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 4fr;
    background-color: rgb(250, 248, 244);
    /* box-shadow: 0px 2px 1px rgb(167, 167, 167); */
}

nav a{
    text-decoration: none;
    text-align: center;
    padding: 0.5em 0;
    border: 1px solid rgb(56, 57, 55);
    color: rgb(56, 57, 55);
    border-radius: 15px 15px 0 0;
    background-color: rgb(218, 225, 222);
}

nav a:visited{
    color: rgb(56, 57, 55);
}

nav a:hover{
    cursor: pointer;
    background-color: rgb(191, 200, 199);
}

.nav_current{
    border-bottom: none;
    background-color: rgb(250, 248, 244);
    /* box-shadow: 5px 0px 0px rgb(167, 167, 167); */
}
.nav_current:hover{
    background-color: rgb(250, 248, 244);
}