body{
    background-color: rgb(250, 248, 244);
    color: rgb(56, 57, 55);
    margin: 0;
    font-family: "lexend", sans-serif;
}

.container{
    margin: 0 auto;
    /* margin-top: 100px; */
	width: 80%;
	max-width: 1200px;
}

.san_col{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.san_col > div{
    text-align: center;
    margin: 0 .5vw;
}

p{
    font-weight: 350;
    margin-top: 0;
    margin-bottom: 0.5em;
}

a{
    text-decoration: none;
    color: rgb(64, 81, 194);

}
a:visited{
    text-decoration: none;
    color: rgb(64, 81, 194);
    /* color: rgb(112, 132, 123); */

}
a:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(64, 81, 194);
}

h1, h2{
    font-weight: 500;
}

ul{
    margin-top: 0;
    margin-bottom: 0.5em;
}

.comic_container{
    margin: 2.5vw 0;
}

.comic_frame{
    margin: 0 auto;
    height: 25vw;
    width: 54vw;
    background-color: white;
    border: 2px black solid;
}

.slide_img{
    height: 25vw;
    width: 54vw;
    overflow: hidden;
}

.slide_img img{
    display: block;
    margin: auto;
    /* max-height: 100%;
    max-width: 100%; */
}